.chat-body {
    width: 100vw;
    background-color: var(--color-green);
    padding: 20px;
}

.chat-container {
    /* padding: 20px; */
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    padding: 20px 30px 20px 20px;
}

.chat-box {
    display: flex;
    flex-direction: row;
}

.chat-info {
    margin-left: 50px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* background-color: red; */
    gap: 10px;
    height: 100%;

    p {
        font-size: var(--font-small-chat);

    }
}

.chat-info_content {
    /* align-items: center; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3px;
    height: 100%;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.chat-info_content-icon {
    margin: 4px;

}

.chat-ans_count {
    margin-top: 20px
}

.chat-ans_count2 {
    margin-top: 20px
}

.chat-ans_count h2 {
    /* display: flex; */
    /* flex-direction: row; */
    width: 100%;
    border-bottom: 1px solid #000;
    line-height: 2em;
    margin: 40px 0 40px 0px;
    font-size: var(--font-small-chat);
    /* margin: 20px; */
    text-align: center;
    height: 1em;
}

.chat-ans_count2 h2 {
    /* display: flex; */
    /* flex-direction: row; */
    width: 100%;
    border-bottom: 0.1px solid #000;
    border-width: 0.001em;
    line-height: 0.02em;
    margin: 40px 0 20px;
    font-weight: 200;
    /* margin: 20px; */
    text-align: center;
    backdrop-filter: blur(50);
    border-color: rgb(209, 209, 209);
}

.chat-ans_count h2 span {
    background: #fff;
    padding: 20px 10px;
}

.chat-vote {

    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.chat-ask_all {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* background-color: aquamarine; */
}

.chat-ask {
    h6 {
        margin-left: 5px;
        font-size: var(--font-tiny-chat);
        font-weight: 400;
    }
}

.chat-ask_info {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    padding: 5px;
}

.chat-ask_info img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.chat-ask_info p {
    margin-left: 10px;
    text-align: center;
    align-self: center;
    justify-content: center;
    /* font-family: lora; */
}

.chat-ask_content2 {
    display: flex;
    flex-direction: column;
    width: 100%;

    /* background-color: red; */
    h5 {
        font-size: var(--font-small-chat);
        font-weight: 400;
        word-break: break-all;
    }
}

.chat-ask_content {
    padding-left: 5px;
    /* background-color: red; */
    margin-top: 5px;

    h1 {
        /* font-family: lora; */
        border: none;
        /* line-height: 0; */
        padding: 0;
        margin: 0;
        height: auto;
        width: auto;
        font-size: var(--font-small-chat);
    }

    h5 {
        /* font-family: lora; */
        border: none;
        /* line-height: 0; */
        padding: 0;
        margin: 0;
        height: auto;
        width: auto;
        font-weight: 400;
        font-size: var(--font-small-chat);
    }

}

.chat-ans-container {
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    padding: 20px 20px 20px 30px;
    max-height: 30vh;
    overflow-y: scroll;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
}

.chat-ans-box {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}

.chat-ans_info {
    justify-content: space-between;
    display: flex;
    background-color: rgb(255, 255, 255);
    width: auto;
    flex-direction: column;
    padding: 10px 0;

    h6 {
        margin-left: 0px;
        font-size: var(--font-tiny-chat);
        font-weight: 400;
    }
}

.chat-ans_info h5 {
    font-size: var(--font-small-chat);
}

.chat-ask_menu {
    margin: 0 0 0 auto;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    display: flex;

    button {
        background-color: white;
    }

    button:hover {
        color: black;
    }
    

}

.abc {
    /* background-color: aqua; */
    height: fit-content;
    width: fit-content;
    padding: 5px 10px;
    /* padding-bottom: 10px; */
    border-radius: 20px;
    /* margin: 2px; */
    margin: 10px;
    background-color: var(--color-green);
}

.abc:hover{
    color: black;
    background-color: var(--color-light-green);
}

.chat-input {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;

    textarea {
        font-size: var(--font-small-chat);
        border: none;
        margin: 30px 0;
        padding: 20px;
        border: 1px solid rgb(189, 189, 189);
        border-radius: 10px;
    }

    button {
        background-color: var(--color-green);
        border: 1px solid rgb(189, 189, 189) !important;
        font-size: var(--font-small-chat);
    }

    button:hover {
        color: #000;
        background-color: var(--color-light-green);
    }
}