.mmt__forum{
    display: flex;
    flex-direction: column;
    background-color: var(--color-green);;
    /* height: 100vh; */
}

.mmt__forum-list{
    
    /* height: 100vh; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto;
    background-color: var(--color-green);
    overflow: scroll;
    margin-top: 80px;
    height: 100vh;
}

.mmt__forum-list-seach_box{
    align-self: center;
    padding: 10px;
    background: var(--color-white);
    border-radius: 30px;
    margin-bottom: 20px
}

.mmt__forum-list-seach_box-icon{
    background-color: rgb(255, 255, 255);
    margin-bottom: 3.5px;
}

.mmt__forum-list-seach_box-input{
    border: none;
    padding-left: 10px;
    background-color: rgb(255, 255, 255);
    height: 25px;
}

.mmt__forum-list-seach_box-new_post_button{
    background-color: azure;
    border-radius: 30px;
    padding: 5px 10px;
    
}

/* .mmt__forum-list-seach_box-new_post_button:hover{
    background-color: rgb(134, 255, 255);
    border-radius: 30px;
    padding: 5px 10px;
    
} */

.mmt__forum-list-new_post_box{
    display: flex;
    flex-direction: column;
}

.mmt__forum-list-new_post_box-top{
    padding: 15px;
    padding-bottom: 100px;
    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.mmt__forum-list-new_post_box-bottom{
    margin-bottom: 20px;
}

.mmt__forum-list-new_post_box-bottom input{
    border: none;
    border-bottom-left-radius: 20px;
    width: 50%;
    padding: 15px 15px;
    
    border: solid;
    border-width: 0px;
    border-top-width: 1px;
    border-color: rgb(201, 201, 201);
}

.mmt__forum-list-new_post_box-bottom button{
    width: 50%;
    border: none;
    padding: 15px 0px;
    border-bottom-right-radius: 20px;
    border: solid;
    border-width: 0px;
    border-top-width: 1px;
    border-color: rgb(243, 243, 243);
}

.mmt__forum-list-new_post_box-bottom button:hover{
    background-color: var(--color-light-green);
}

.mmt__forum-list-new_post_box-bottom2{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.mmt__forum-list-new_post_box-bottom2 textarea{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    padding: 50px 15px;
    border: solid;
    border-width: 1px;
    border-color: rgb(138, 145, 151);
}

.mmt__forum-list-new_post_box-bottom2 button{
    width: 100%;
    border: none;
    padding: 15px 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.mmt__forum-list-new_post_box-bottom2 button:hover{
    background-color: var(--color-light-green);
}

.mmt__forum-list-list_box-container{
    display: flex;
    flex-direction: column;
}

.mmt__forum-list-list_box-box{
    display: flex;
    padding: 10px;
    background-color: azure;
    /* cursor: pointer; */
    opacity: .9;
    margin: 5px;
    border-radius: 20px;
    width: 100%;
}
.mmt__forum-list-list_box-box:hover{
    opacity: 1;
}

.mmt__forum-list-list_box-box-left{
    padding-right: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.mmt__forum-list-list_box-box-left h5{
    font-size: 15px;
    margin: auto;
    display: flex;
}

.mmt__forum-list-list_box-box-right{
    width: 100%;
}

.mmt__forum-list-list_box-box-right-content{
    flex-direction: row;
    width: 90%;
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: aqua; */
}

.mmt__forum-list-list_box-box-right-content h1{
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.mmt__forum-list-list_box-box-right-content h3{
    background-color: rgb(255, 255, 255);
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    text-wrap: wrap;
    width: 80%;
    text-overflow:ellipsis ;
    word-wrap: break-word;
}

.mmt__forum-list-list_box-box-right-content h1:hover{
    color: blue;
}

.mmt__forum-list-list_box-box-right-content h5{
    font-size: 12px;
    font-weight: 400;
    text-wrap: wrap;
    width: 80%;
    text-overflow:ellipsis ;
    word-wrap: break-word;
}

.mmt__forum-list-list_box-box-right-askedby{
   display: flex;
   flex-direction: row;
}
.mmt__forum-list-list_box-box-right-askedby img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
 }

 .mmt__forum-list-list_box-box-right-askedby p{
    margin-left: 5px;
 }


 .mmt__forum-list-list_box-box-left-triangle{
    display: flex;
    flex-direction: column;
    
 }

 .mmt__forum-list-list_box-box-left_content{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-left: 1vw;
 }
 .mmt__forum-list-list_box-box-left_content p{
    margin: 0 5px;
 }