.mmt__notfound {
  position: relative;
  height: 100vh;
  background-color: var(--color-green);
}

.mmt__notfound-content{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 520px;
  width: 100%;
  text-align: center;
  line-height: 1.4;
}

.mmt__notfound-content_404{
  height: 190px;
}

.mmt__notfound-content_404 h1{
  font-family: 'Arial', sans-serif;
  font-size: 157px;
  font-weight: 700;
  margin: 0px;
  color: #232323;
}

.mmt__notfound-content_404 h1>span{
  display: inline-block;
  width: 120px;
  height: 120px;
  background-image: url('./emoji.png');
  background-size: cover;
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  z-index: -1;
}

.mmt__notfound-content h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  color: #232323;
}

.mmt__notfound-content p {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-weight: 300;
  font-size: 20px;
}

.mmt__notfound-content a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  padding: 12px 30px;
  font-weight: 700;
  background-color: var(--color-yellow);
  color: #000000;
  border-radius: 40px;
  text-decoration: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  margin: 10px
}

.mmt__notfound-content a:hover {
  background-color: var(--color-orange);
}

@media only screen and (max-width: 767px) {
  .mmt__notfound-content_404 {
    height: 115px;
  }

  .mmt__notfound-content_404 h1 {
    font-size: 86px;
  }

  .mmt__notfound-content_404 h1>span {
    width: 86px;
    height: 86px;
  }
}