.mmt__document {
    margin-top: 0;
    background: radial-gradient(circle at 10% 12%, rgba(62, 197, 254, 1) 0%, rgba(193, 227, 246, 1) 100%);
    background: linear-gradient(90.21deg, #b5e7fe -5.91%, #3ec5fe 111.58%);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 20px;
    position: relative;
    text-align: center;

    h1 {
        margin: auto;
        font-size: 50px;
        font-weight: 700;
        text-align: center;
        color: black;
        margin-bottom: 0rem;
        width: fit-content;
        padding: 20px;
        background: linear-gradient(90.21deg, #3ec5fe -5.91%, #b5e7fe 61.58%);
        border-radius: 30px;
        box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.58);
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.58);
        -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.58);
        margin-bottom: 50px;
    }

}


.mmt__document p {
    color: #682e2e;
    font-size: 25px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px auto 30px auto;
    width: 56%;
}

.mmt__document .nav.nav-pills {
    width: 72%;
    margin: 0 auto;
    border-radius: 50px;
    background-color: rgb(255 255 255 / 10%);
    overflow: hidden;
}

.mmt__document .nav.nav-pills .nav-item {
    width: 33.33333%;
}

.mmt__document .nav.nav-pills .nav-link {
    background-color: transparent;
    border-radius: 0;
    padding: 17px 0;
    color: #000000;
    width: 100%;
    font-size: 17px;
    letter-spacing: 0.8px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease-in-out;
    text-align: center;
    z-index: 0;
}

.mmt__document .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(90.21deg, #c7d6f8 -5.91%, #5e92e6 111.58%);
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.mmt__document .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
}

.mmt__document .nav.nav-pills .nav-link.active {
    border: 1px solid rgba(255, 255, 255, 1);
}

.mmt__document-slide{
    width: 70%;
    margin: auto;
    border-radius: 100px;
}

.mmt__document-slide2{
    width: 40%;
    margin: auto;
    border-radius: 100px;
}

.nav-link#projects-tabs-tab-first {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 55px 0px 0px 55px;
}

.nav-link#projects-tabs-tab-second {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-link#projects-tabs-tab-third {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0 55px 55px 0;
}

.proj-imgbx {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 24px;
    color: #000;
}

.proj-imgbx::before {
    content: "";
    background: linear-gradient(90.21deg, #afffa1 -5.91%, #3cc4fe 111.58%);
    opacity: 0.85;
    position: absolute;
    width: 100%;
    height: 0;
    transition: 0.4s ease-in-out;
}

.proj-imgbx:hover::before {
    height: 100%;
}

.proj-txtx {
    position: absolute;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
    opacity: 0;
    width: 100%;
}

.proj-imgbx:hover .proj-txtx {
    top: 50%;
    opacity: 1;
}

.proj-txtx h4 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.1em;
}

.proj-txtx span {
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.8px;
}

.background-image-right {
    top: 20%;
    position: absolute;
    bottom: 0;
    width: 35%;
    right: 0;
    z-index: -4;
}

.proj-imgbx2 {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 24px;
    color: #000;
    img{
        /* margin: 20px; */
        width: 100%;
        height: 100%;
    }
}

.proj-imgbx2::before {
    content: "";
    background: linear-gradient(90.21deg, #afffa1 -5.91%, #3cc4fe 111.58%);
    opacity: 0.85;
    position: absolute;
    width: 100%;
    height: 0;
    transition: 0.4s ease-in-out;
}

.proj-txtx2 {
    position: absolute;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
    opacity: 0;
    width: 100%;
}

.proj-imgbx2:hover .proj-txtx {
    top: 50%;
    opacity: 1;
}

.proj-txtx2 h4 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.1em;
}

.proj-txtx2 span {
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.8px;
}

.background-image-right {
    top: 20%;
    position: absolute;
    bottom: 0;
    width: 35%;
    right: 0;
    z-index: -4;
}

/*Phone and pad ver*/
@media screen and (max-width: 1050px) {

    .mmt__document-slide{
        width: 90%;
        margin: auto;
        border-radius: 100px;
    }

    .mmt__document-slide2{
        width: 100%;
        margin: auto;
        border-radius: 100px;
    }
}

@media screen and (max-width: 550px) {

    .mmt__document-slide{
        width: 90%;
        margin: auto;
        border-radius: 100px;
    }

    .mmt__document-slide2{
        width: 100%;
        margin: auto;
        border-radius: 100px;
    }
}

/*PC*/
@media screen and (max-width: 1050px) {

}