/* .setting{
    height: 100vh;
}

.circle-background{
    fill: none;
    stroke: #ddd;
}

.circle-progress{
    fill: none;
    stroke: rgb(255, 255, 155);
    stroke-linecap: round;
    stroke-linejoin: round;
}

input{
    border: none;
    outline: none;
    
} */

.clock{
    background-color: red;
    height: 100px;
    width: 100px;
}

.setting{
    height: calc(fit-content);
    background: linear-gradient(90.21deg, #3ec5fe -5.91%, #b5e7fe 111.58%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25vh 0;
    height: 120vh;
    height: calc(fit-content);
        background: linear-gradient(90.21deg, #3ec5fe -5.91%, #b5e7fe 111.58%);
    display: flex;
        /* align-items: center; */
        /* justify-content: center; */
        padding: 25vh 0;
        height: 100vh;
        display: flex;
}

.circle-background{
    fill: none;
    stroke: #ddd;
}

.circle-progress{
    fill: none;
    /* stroke: rgb(125, 166, 255); */
    stroke-linecap: round;
    stroke-linejoin: round;
}

input{
    border: none;
    outline: none;
    
}

.left-header{
    display: flex;
}