.audio{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    /* *{ */
        /* width: max-content; */
    /* } */
    /* background-color: red; */
    height: 170%;
    width: 100%;
    option{
        width: 100%;
    }
}