.mmt__about {
  padding: 80px 20px;
  position: relative;
  background: linear-gradient(90.21deg, #c93c74 -5.91%, #eba38b 111.58%);
  ;
  text-align: center;

  h1 {
    margin: auto;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: black;
    margin-bottom: 0rem;
    width: fit-content;
    padding: 20px;
    background: linear-gradient(90.21deg, #eba38b -5.91%, #c93c74 61.58%);
    border-radius: 30px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.58);
  }

  p {
    color: #682e2e;
    font-size: 25px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px auto 30px auto;

    width: 56%;
  }
}


.mmt__about-bx {
  display: flex;
  justify-content: center;
  align-items: center;

}

.mmt__about-howto {
  padding: 3rem 3rem;

  h2 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: black;
    margin-bottom: 0rem;
  }

  p {
    width: 100%;
    text-align: start;
    font-size: 18px;
    color: black;
  }
}

.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
  padding: 2rem 0rem;
  padding-top: 4rem;
  background: linear-gradient(90deg, rgb(255, 154, 118) 0%, rgba(78, 0, 26, 1) 100%);
  border-radius: 50px;
}

.skill-slider .item img {
  width: 80%;
  margin: 0 auto 15px auto;
  border: 10px;
  border-style: solid;
  border-color: var(--color-dark-magenta);
}

.skill-slider .item h5 {
  width: 100%;
  font-size: 25px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}