.mmt__header {
    margin-top: 0;
    background-color: linear-gradient(90.21deg, #3ec5fe -5.91%, #b5e7fe 111.58%);
    height: 1000px;
    padding: 200px 0 100px 0;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 230px;
    align-items: center;
    justify-content: center;
}

.mmt__header h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
}

.mmt__header p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
}

.mmt__header button {
    color: #890036;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
    background-color: #dcecf3;
    border-color: #890036;
    padding: 1rem;
    cursor: pointer;
}

.mmt__header button:hover {

    background-color: var(--color-light-green);
}

.mmt__header button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
}

.mmt__header button:hover svg {
    margin-left: 25px;
}

.mmt__header img {
    
    animation: updown 4s linear infinite;
}


.mmt__header-tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(90.21deg, rgba(142, 0, 54, 255) -5.91%, rgba(78, 0, 26, 255) 111.58%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
    color: rgb(233, 211, 211);
}

.mmt__header-content{
    
    width: 60%;
}


@keyframes updown {
    0% {
        transform: translateY(-30px);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(-30px);
    }
}

.txt-rotate {
    color: #fcfca0;
}

.txt-rotate>.wrap {
    border-right: 0.08em solid #491b30;
}