.navbar {
    display: flex;
    align-items: center;
    background-color: none;
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    z-index: 2000;
    transition: 0.5s ease-in-out;
    /* padding: 1rem; */
    /* background-color: blue; */
    justify-content: space-between;
    padding: 1rem 1.5rem;
}

.scrolled {
    background-color: #6cd5ff;
    padding: 0.5rem 1.5rem;
}

.modal-left {
    height: 100vh;
    min-width: auto;
    position: fixed;
    z-index: 2001;
    left: -6000px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6)
}

.modal-left-fade{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2001;
    
}

.modal-left-fade-show{
    display: none;
}

.modal-left-content {
    width: auto;
    background: rgb(62, 177, 254);
    background: linear-gradient(90deg, rgba(62, 177, 254, 1) 10%, rgb(162, 230, 255) 100%);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(163, 163, 163);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}



.modal-left-content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-left-content-topic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    a {
        display: flex;
        font-size: 20px;
        font-weight: 400;
        padding: 5px 10px;
        align-items: center;
        flex-direction: row;
        gap: 20px;
        display: flex;
    }

    a:hover {
        background-color: white;
        border-radius: 10px;

    }
}

.modal-left-content-footer {
    font-size: 10px;
    > h4{
        display: flex;
        align-items: center;
        gap: 2px;
        font-weight: 300
    }
}

.modal-left-expand {
    background-color: rgb(0, 0, 0);
    filter: opacity(0.7);
    opacity: 0.7;
}

.modal-right {
    height: 100vh;
    background-color: unset;
    min-width: auto;
    position: fixed;
    z-index: 2001;
    right: -6000px;
    display: flex;
    flex-direction: row-reverse;
    background-color: rgba(0, 0, 0, 0.6)
}

.modal-right-fade{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2001;
    
}

.modal-right-fade-show{
    display: none;
}

.modal-right-content {
    min-width: 15rem;
    background: rgb(62, 177, 254);
    background: linear-gradient(90deg, rgba(62, 177, 254, 1) 10%, rgb(162, 230, 255) 100%);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(163, 163, 163);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-right-expand {
    background-color: rgb(0, 0, 0);
    filter: opacity(0.7);
    opacity: 0.7;
}

.modal-right-content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-right-content-header-info {
    display: flex;
    align-items: center;
}

.modal-right-content-header-info-text {
    margin: 0px 40px 0px 10px;

    h1 {
        font-weight: 400;
        font-size: var(--font-small-nav);
        margin: 0;
    }

    p {
        font-size: var(--font-tiny);
    }
}

.modal-right-content-topic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    >a {
        font-size: 20px;
        font-weight: 400;
        padding: 10px 10px;
        display: flex;
        align-items: center;
        gap: 20px;
        svg{
            width: 30px;
        }
    }

    >a:hover {
        background-color: white;
        border-radius: 10px;

    }
}



.modal-right-content-footer {
    font-size: 10px;
    > h4{
        display: flex;
        align-items: center;
        gap: 2px;
        font-weight: 300
    }
}

.modal-right-expand {
    background-color: rgb(0, 0, 0);
    filter: opacity(0.7);
    opacity: 0.7;
}

.navbar-left {
    display: flex;
    gap: 10px;
}

.navbar-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;  
}

.navbar-links-logo {
    display: flex;
    align-items: center;
    grid-template-columns: 100px 100px 100px;

    text-align: center;
    justify-content: center;

}

.navbar-links-logo h1 {
    text-shadow: -1px 0 rgb(168, 127, 127), 0 1px rgb(157, 156, 156), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
    font-weight: 500;
    font-size: x-large;
    user-select: none;
    padding: 0rem 0rem;
    margin-top: 0px;
    display: none;
}

.navbar-links-logo img {
    width: 40px;
    height: 40px;
}

.navbar-container-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 10px;

    p {
        font-weight: 600;
        font-size: 19px;
        margin-bottom: 0px;
    }

    p:hover {
        font-weight: 700;
        font-size: 20px;
        border-style: solid;
        border-width: 2px;
        border-color: #000;
        border-left: none;
        border-right: none;
        border-top: none;
    }

    > .choose {
        border-style: solid;
        border-width: 2px;
        border-color: #000;
        border-left: none;
        border-right: none;
        border-top: none;
    }
}

.navbar-right {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    p{
        margin: 0;
        padding: 0;
    }
}

.home-icon {
    padding: 10px;
    border: solid;
    background-color: #6ad2ff;
}

.icon {
    padding: 10px;
    border-style: solid;
    width: fit-content;
    height: fit-content;

}

.icons {
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    cursor: pointer;
    border-width: 2px;
    margin: 0;
    background-color: #ffffff;
}

.icons:hover {

    background-color: transparent;
    filter: opacity(0.6);
}

.close-icon {
    border: solid;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    cursor: pointer;
    background-color: rgb(156, 214, 241);
    border-width: 2px;
}

.close-icon:hover {
    background-color: white;
    filter: opacity(0.6);
}

.flag-icon {
    border: solid;
    padding: 0;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    cursor: pointer;
    border-width: 2px;
    margin: 0;
    width: 40px;
    height: fit-content;

    img {
        border-radius: 8px;
        margin-bottom: 0;
    }
}

.flag-icon:hover {

    background-color: transparent;
    filter: opacity(0.6);
}


.slide-right {
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0px);
    }

    100% {
        -webkit-transform: translateX(6000px);
        transform: translateX(6000px);
    }
}

.slide-left {
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes slide-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(-6000px);
        transform: translateX(-6000px);
    }
}


/*Tablet*/
@media only screen and (min-width: 640px) {}

/*Laptop*/
@media only screen and (min-width: 1024px) {
    .navbar-links-logo h1 {
        text-shadow: -1px 0 rgb(168, 127, 127), 0 1px rgb(157, 156, 156), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
        font-weight: 400;
        font-size: x-large;
        user-select: none;
        padding: 0rem 0.2rem;
        margin-top: 0px;
        margin: 0 10px;
        display: flex;
    }

    .navbar-links {
        display: flex;
    }
}

/*Desktop*/
@media only screen and (min-width: 1280px) {
    .navbar-links-logo h1 {
        text-shadow: -1px 0 rgb(168, 127, 127), 0 1px rgb(157, 156, 156), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
        font-weight: 400;
        font-size: x-large;
        user-select: none;
        padding: 0rem 0.2rem;
        margin-top: 0px;
        display: flex;
    }

    .navbar-links {
        display: flex;
    }
}