.mmt__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    background-color: unset;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    transition: 0.5s ease-in-out;
}

.scrolled {
    padding: 0.5rem 3rem;
    background-color: #2fc1ff;
}

.mmt__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.mmt__navbar-links_logo {
    /* margin: 0.5rem; */
    display: flex;
    align-items: center;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 0px;
    column-gap: 10px;
    text-align: center;
}

.mmt__navbar-links_logo h1 {
    text-shadow: -1px 0 rgb(168, 127, 127), 0 1px rgb(157, 156, 156), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
    font-weight: 500;
    font-size: x-large;
    user-select: none;
    padding: 0rem 0.2rem;
    margin-top: 0px;
}

.mmt__navbar-links_logo img {
    width: 40px;
}

.mmt__navbar-container_links {
    display: flex;
    flex-direction: row;
    /* margin-top: 10px; */
    align-items: center;
}

.mmt__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 100px;
    border-width: 2px;
    border-color: black;
}

.mmt__navbar-sign img {
    cursor: pointer;
    width: 35px;
    border: 1px;
    border-color: azure;
    border-style: solid;
    border-radius: 50%;
    transition: 0.3s;
    margin: 5px;
}

.mmt__navbar-sign img:hover {
    /* transition-duration: 0.1s;
    width: 30px;
    border: 3px;
    border-color: azure;
    color: aliceblue;
    border-style: solid;
    border-radius: 50%; */
    border: 3px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 50%;
    /* filter: brightness(0) saturate(50%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%); */
}

.mmt__navbar-sign_user {
    background-color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    margin: 0 0 0 5px;

}

.mmt__navbar-sign_user:hover {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}

.mmt__navbar-sign_cart {
    background-color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    margin: 5px;
}

.mmt__navbar-sign_cart:hover {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}

.mmt__navbar-sign_chat {
    background-color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    margin: 5px;
}

.mmt__navbar-sign_chat:hover {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}

.mmt__navbar-container_links p,
.mmt__navbar-menu_container p,
.mmt__navbar-user-menu_container p,
.mmt__navbar-sign p {
    color: rgb(35, 35, 31);
    font-weight: 600;
    font-size: larger;
    line-height: 25px;
    text-transform: capitalize;
    margin: 1rem 0.5rem;
    padding: 0.4rem 0.6rem;

    /* cursor: pointer; */
}

.mmt__navbar-container_links a,
.mmt__navbar-menu_container a,
.mmt__navbar-user-menu_container a,
.mmt__navbar-sign a {
    text-decoration: none;

    /* cursor: pointer; */
}

.mmt__navbar-container_links p:hover {
    /* color: var(--color-yellow); */
    /* border-width: 20px; */
    /* border-color: var(--color-yellow); */
    /* background-color: var(--color-yellow); */
    /* background-size: 20px; */
    /* border-radius: 100px; */
    border-radius: 100px;
    border-width: 1px;
    border-color: black;
    /* border-style: solid; */
    background-color: var(--color-light-green);
}



.mmt__navbar-menu {
    margin-left: 1rem;
    display: none;
    position: relative;
}

.mmt__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    position: absolute;
    top: 60px;
    right: 0;
    margin-top: 1rem;
    background-color: var(--color-green);
    min-width: 180px;
    z-index: 5000;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
    position: fixed;
}

.mmt__navbar-menu_container p {
    border: 2px;
    border-color: black;
    border-style: solid;
    margin: 1rem 0;
    margin-right: 20px;
}

.mmt__navbar-menu_container-links-sign {
    display: none;
}

.mmt__navbar-user-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 0rem;
    background-color: var(--white);
    height: 100vh;
    border-right: var(--border);
    z-index: 0;

}

.mmt__navbar-user-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    position: absolute;
    right: 0;
    background-color: var(--color-green);

    right: 0;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.mmt__navbar-user-menu_container p {
    margin: 1rem 0;
    margin-right: 20px;
    border: 2px;
    border-color: black;
    border-style: solid;
}

.mmt__navbar-user-menu_container p:hover {
    /* color: var(--color-yellow); */
    /* border-width: 20px; */
    /* border-color: var(--color-yellow); */
    /* border-radius: 100px; */
    /* border-width: 1px; */
    background-color: var(--color-light-green);
    /* border-style: solid; */
}


.mmt__navbar-user-menu_container-links-sign {
    display: none;
}

.mmt__menu {
    padding: .5rem;
    right: 0;
    position: fixed;
    /* background: var(--color-green); */
    background: linear-gradient(90.21deg, #3ec5fe -5.91%, #b5e7fe 111.58%);
    color: black;
    height: 100%;
    z-index: 2;
    display: flex; 
    /* filter: trans; */
    /* opacity: .4; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* text-align: end; */
    flex-direction: column;
    width: 100%;
    
    h1{
        margin-top: 50px;
        text-align: end;
    }
    a{
        text-decoration: none;
        padding: 10px;
    }
    p{
        color: black;
        font-size: 20px;
        font-weight: 600;
        text-align: end;
        padding-right: 20px;
    }
    p:hover{
        color: antiquewhite;
    }
    .active{
        color: antiquewhite;
    }
}

.mmt__menu-content{
    /* opacity: .9; */
    /* text-align: center; */
    /* justify-content: center; */
    /* align-items: center; */
    margin: auto;
    margin-left: 79px;
    margin-right: 30px;
    a{
        text-decoration: none;
    }
    p{
        color: black;
        font-size: 20px;
        font-weight: 600;
        text-align: end;
    }
    p:hover{
        color: antiquewhite;
    }
    .active{
        color: antiquewhite;
    }
}



.mmt__menu span {
    background: none;
    border: 0;
    padding: 0;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    color: black;
    fill: var(--light-placeholder-color);
    transition: var(--transition);
    display: flex;
    /* background-color: #ffffff; */
    align-self: flex-start;
    position: absolute;
    width: 90%;
    align-items: center;
    justify-content: center;
    h4{
        padding: 0px 10px;
    }
    h3{
        padding: 30px;
        color: red;
    }
}

.mmt__menu button {
    background: none;
    border: 0;
    padding: 0;
    display: flex;
    top: 2rem;
    right: 1rem;
    cursor: pointer;
    color: black;
    fill: var(--light-placeholder-color);
    transition: var(--transition);
    justify-content: center;
    align-items: center;
    margin-left: 60px
}

.mmt__menu button:hover {
    fill: var(--light-text-color);
}



/*Phone and pad ver*/
@media screen and (max-width: 700px) {
    .mmt__navbar {
        padding: 0.5rem 1rem;
    }

    .mmt__navbar-menu_container {
        display: flex;
    }
}

@media screen and (max-width: 550) {
    .mmt__navbar {
        padding: 1rem 2rem;
    }

 
}

/*PC*/
@media screen and (max-width: 1050px) {

    .mmt__navbar-container_links,
    .mmt__navbar-user-menu {
        display: none;
    }

    .mmt__navbar-menu {
        display: flex;
    }

}