.footer{
    padding: 50px 0 50px 0;
    background: linear-gradient(90.21deg, #142736 -5.91%, #2b0d0d 111.58%);;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    
    align-items: center;
    justify-content: center;
    color: rgb(190, 190, 190);
    height: max-content;
    .container{
        /* height: 100px; */
        width: 90%;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .left{
            .title{
                font-size: 25px;
                margin: 30px 0px;
            }
            width: 100%;
        }
        > .right{
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: start;
            text-align: start;
            > .social{

                a:hover{
                    color: white;
                }

                svg{
                    margin: 5px;
                    cursor: pointer;
                }
            }
        }
    }
}

/*Tablet*/
@media only screen and (min-width: 800px) {
    
}

/*Laptop*/
@media only screen and (min-width: 1024px) {
    .footer{
        padding: 50px 0 50px 0;
        background: linear-gradient(90.21deg, #142736 -5.91%, #2b0d0d 111.58%);;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: rgb(190, 190, 190);
        height: max-content;
        .container{
            /* height: 100px; */
            width: 90%;
            /* background-color: red; */
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .left{
                .title{
                    font-size: 25px;
                    margin: 30px 0px;
                }
                width: 50%;
            }
            > .right{
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items: end;
                text-align: end;
                > .social{
                    svg{
                        margin: 5px;
                    }
                }
            }
        }
    }
}

/*Desktop*/
@media only screen and (min-width: 1280px) {
    .footer{
        padding: 50px 0 50px 0;
        background: linear-gradient(90.21deg, #142736 -5.91%, #2b0d0d 111.58%);;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(190, 190, 190);
        height: max-content;
        .container{
            /* height: 100px; */
            width: 90%;
            /* background-color: red; */
            display: flex;
            justify-content: space-between;
            .left{
                .title{
                    font-size: 25px;
                    margin: 30px 0px;
                }
                width: 50%;
            }
            > .right{
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items: end;
                text-align: end;
                > .social{
                    svg{
                        margin: 5px;
                    }
                }
            }
        }
    }
}