* {
    font-family: "Roboto Slab", serif;
    /* font-weight: 350; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.gradient__bg {
    /* global 92%+ browsers support */
    background: radial-gradient(circle at 10% 12%, rgba(62, 197, 254, 1) 0%, rgba(193, 227, 246, 1) 100%);
}

body {
    background-color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif !important;
    /* font-weight: 500; */
    overflow-y: auto;
}

a {
    color: unset;
    text-decoration: none;
}

a:hover {
    color: black;
}

button{
    border: none;
    color: black;
    background-color: rgb(255, 255, 255);
    padding: 5px 15px;
    border-radius: 50px;
    cursor: pointer;
}

button:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(188, 231, 255);
}

.button-pro {
    border: none;
    background-color: rgb(152, 152, 230);
    padding: 5px 15px;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: 1px solid rgb(209, 209, 209);
    background: linear-gradient(to right, rgb(49, 49, 49) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

.button-pro :hover {
    color: aliceblue;
    background-position: left bottom;
}