/* iframe#webpack-dev-server-client-overlay{display:none!important} */

:root {
  /* --font-family: 'Manrope', sans-serif; */
  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  --color-bg: #040C18;
  --color-footer: #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
  --color-yellow: #fbfe11;
  --color-magenta: #890036;
  --color-pink: #f183ac;
  --color-light-blue: #aebcd7;
  --color-dark-magenta: #4c021d;
  --color-orange: #f88767;
  --color-light-orange: #fda980;
  --color-green: rgba(62, 197, 254, 1);
  --color-light-green: #b6e6fd;
  --color-white: #fff;
}

:root {
  --primary-color: #1f68fa;
  --light-text-color: #f5f6f7;
  --light-placeholder-color: #ced4de;
  --dark-text-color: #2d3747;
  --shadow-dilute: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  --shadow-conc: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
  --transition: all 0.2s ease-in-out;
}

body {
  /* font-family: sans-serif; */
  background: #f6f8fa;
  color: var(--dark-text-color);
  margin: 0;
}