.headpage{
    /* background: linear-gradient(90deg, rgba(30, 165, 255, 0.825) 10%, rgba(158, 229, 255, 0.881) 100%); */
    /* background: rgba(124, 214, 255, 0.825); */
    background: rgba(30, 165, 255, 0.825);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .headpage-logo-container{
        background-color: rgb(255, 255, 255);
        padding: 20px;
        
        border-radius: 20px;
        /* animation: App-logo-spin infinite 1s linear; */
        img{
            width: 8rem;
            
        }
    }
    
}

@keyframes App-logo-spin {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0);
    }
  }
